@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,800);

body {
	background-color: #FFFFFF;
	text-align: center;
	background-image: url("pictures/smokebackground.jpg");
	background-size: cover;
	background-repeat:no-repeat;
}

h1 {
	color: #ffffff;
	text-align: center;
	font-family: 'Exo 2', sans-serif;
}

#slogan {
	color: Orange;
	font-style: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-family: 'Rock Salt', cursive;
}
